body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.banner {
    width: 100%;
    height: 150px;
    background-image: url('../assets/banner.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.game-board {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #000;
    overflow: hidden;
}

.player {
    width: 50px;
    height: 50px;
    background-image: url('../assets/player.png');
    background-size: cover;
    position: absolute;
}

.clone {
    width: 50px;
    height: 50px;
    background-image: url('../assets/clone.png');
    background-size: cover;
    position: absolute;
}

.power-up {
    width: 30px;
    height: 30px;
    background-image: url('../assets/powerup.png');
    background-size: cover;
    position: absolute;
}

.hud {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 1.2rem;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.score-board {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.2rem;
}